:root {
  --header-color: #1a1a1d80;
  --text-color: #f7faff;
  --buble-background: #1a1a1d4d;
  --button-color: #1a0933;
  --button-text-color: #fcfcfd;
  --run-line-text: #360159;
  --arrow-color: #777e90;
  --arrow-hover: #e6e8ec;
}
/* base styles */
body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: #000000;
  background-image: radial-gradient(
      circle at 20% 40%,
      #360159dc,
      #c03ef8c6 0%,
      transparent 15%
    ),
    radial-gradient(circle at 80% 70%, #360159dc, #c03ef8e6 0%, transparent 15%);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1968px;
  margin: 0 auto;
  padding: 0 24px;
}
* {
  box-sizing: border-box;
}
/* Header-section */
.header {
  position: absolute;
  top: 60px;
  left: 50px;
  right: 50px;
  width: auto;
  margin: 0;
  z-index: 10;
  background-color: var(--header-color);
  border-radius: 10px;
}
.header-logo img {
  width: 40px;
  height: 40px;
}
.accent {
  font-size: 200px;
  display: flex;
  justify-content: end;
  padding-right: 70px;
}
.header-item {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo-container {
  display: flex;
  padding-left: 20px;
  padding-right: 30px;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 64px;
  justify-content: flex-end;
  flex-grow: 1;
}
.header-actions {
  display: flex;
  gap: 10px;
  padding-left: 100px;
  padding-right: 20px;
}
.lang-switcher {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 66px;
}
.header-icon {
  width: 30px;
  height: 40px;
  object-fit: contain;
}
.lang-text {
  width: 26px;
  height: 18px;
}
.arrow-icon {
  width: 12px;
  height: 12px;
}
.world-icon {
  width: 20px;
  height: 20px;
}
/* Hero-section */
.hero-section {
  padding: 220px 0 70px 0;
  background-image: url(../figures/hero-background1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-title {
  margin-top: 42px;
  text-align: center;
  font-weight: 900;
  letter-spacing: -6%;
  line-height: 1;
  font-size: 325px;
  margin-bottom: 0;
}
.hero-buble-container {
  background-color: var(--buble-background);
  border-radius: 20px;
  padding: 20px;
  max-width: 500px;
  margin-left: 50px;
}
.hero-buble {
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: Jost, sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0;
}
.hero-wrap {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.hero-to-shop {
  border-radius: 40px;
  padding: 30px 65px;
  color: var(--button-text-color);
  font-size: 18px;
  text-transform: uppercase;
  font-family: Jost, sans-serif;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--button-color);
  border-color: linear-gradient(to right, #28168a, #080343);
}
.hero-button-container {
  display: flex;
  padding-right: 70px;
  align-items: end;
}

.run-line-para {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px;
  flex-grow: 1;
}
.run-line-content {
  display: flex;
  background: linear-gradient(to bottom, #ffffff, #8578fa);
  align-items: center;
}
.run-line-para {
  margin-bottom: 0;
  font-size: 18px;
  color: var(--run-line-text);
}
.run-line-para::after {
  content: '\2605';
  color: #2e004b;
  font-size: 25px;
  margin-left: 30px;
  text-align: center;
}
/* Products section */
.products-section {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: radial-gradient(
      circle at 20% 40%,
      #360159dc,
      #c03ef8c6 0%,
      transparent 15%
    ),
    radial-gradient(circle at 80% 70%, #360159dc, #c03ef8e6 0%, transparent 15%);
}
.products-title {
  text-align: center;
  padding-top: 120px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
  color: var(--text-color);
}
.products-content {
  text-align: center;
  margin-top: 30px;
  font-family: Jost, sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 0;
  line-height: 1;
  color: var(--text-color);
}
.products-title-container {
  max-width: 760px;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
}
.cards-item {
  border-radius: 20px;
  padding: 30px 60px;
  position: relative;
  background: linear-gradient(
    rgba(184, 162, 234, 0.3),
    rgba(118, 100, 185, 0.3)
  );
}
.cards-item::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(135deg, #210247, #a976e9);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.cards-title {
  font-size: Inter Tight, sans-serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: -3%;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
}
.cup-image {
  width: 570px;
  height: 400px;
}
.vocabrulary-image {
  width: 570px;
  height: 400px;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
  text-align: center;
}
.arrow-btn {
  background: transparent;
  border: 2px solid transparent;
  color: var(--arrow-color);
  font-size: 24px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  -webkit-text-stroke: 1.7px var(--arrow-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-btn:hover {
  border-color: var(--arrow-hover);
  color: #fff;
  transform: scale(1.1);
}
.arrow-btn:focus {
  outline: none;
}
/* Hits Section */
.hits-section {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #000000;
  background-image: radial-gradient(transparent 30%),
    radial-gradient(circle at 50% 70%, #360159dc, #c03ef8e6 0%, transparent 25%);
}
.hits-content-container {
  max-width: 1050px;
  margin: 0 auto;
}
.hits-title {
  text-align: center;
  padding-top: 120px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
  color: var(--text-color);
}
.hits-content {
  text-align: center;
  margin-top: 20px;
  font-family: Jost, sans-serif;
  font-weight: 400;
  max-width: 1050px;
  font-size: 35px;
  margin-bottom: 0;
  line-height: 1;
  color: var(--text-color);
}

.hits-cards-container {
  display: flex;
  gap: 80px;
  margin-top: 80px;
  padding-bottom: 70px;
}
.hits-cards {
  border-radius: 20px;
  padding: 50px 40px;
  position: relative;
  background: linear-gradient(
    rgba(184, 162, 234, 0.05),
    rgba(118, 100, 185, 0.05)
  );
  border: 1px solid #180560;
}
.hits-cards::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(135deg, #523dc8, #180560);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.hits-img {
  width: 470px;
  height: 400px;
}
.hits-cards-title {
  font-size: Inter Tight, sans-serif;
  font-weight: 700;
  font-size: 25px;

  max-width: 367px;
  margin-bottom: 0;
}
.hits-wrap {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.price {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
}
.hits-description {
  font-size: Inter Tight, sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-size: 20px;
  max-width: 367px;
  margin-bottom: 0;
}
.hits-button {
  width: 470px;
  height: 60px;
  border-radius: 128px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Jost, sans-serif;
  font-weight: 700;
  color: #1a0933;
  border: none;
  cursor: pointer;
}
.hits-button-container {
  padding-top: 50px;
}
/* Description Section */

.description-section {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative; /* ОБОВʼЯЗКОВО */
  overflow: hidden; 
  background-image: radial-gradient(
      circle at 10% 25%,
      #360159dc,
      #c03ef8c6 0%,
      transparent 15%
    ),
    radial-gradient(circle at 80% 40%, #360159dc, #c03ef8e6 0%, transparent 15%);
}
.description-text-container {
  max-width: 620px;
  margin: 0 auto;
  text-align: start;
}
.description-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
  letter-spacing: -3%;
  color: var(--text-color);
}
.description-content {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1;
  color: var(--text-color);
}
.description-wrap {
  display: flex;
  align-items: flex-start;
}
.description-hacker {
  position: relative;
  z-index: 2;
}


.description-hacker-img {
  width: 400px;
  height: 1000px;
  margin-left: 300px;
  margin-top: 20px;
  
}
.description-text-container {
  margin-top: 94px;
}
.description-buble {
  border-radius: 60px;
  display: inline-flex;
  padding: 15px 30px;
  border: 1.2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 40px;
}
.description-buble-text {
  font-family: Jost, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0;
  letter-spacing: -1%;
  color: var(--text-color);
}
.description-floor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  padding-top: 100px;
  z-index: 1;
}